
{% extends "FSPaysBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block fspays_body %}

        <table>
            <thead>
            <tr>
                <th>pays</th>
                <th>Continent</th>
            </tr>
            </thead>
            <tbody>
            {% for pays in pays %}
                <tr>
                    <td>{{ pays.nom}}</td>
                    <td>{{ pays.population}}</td>
                                        <td>
                        {% for continent in pays.continent %}
                            {{ continent.nom }}&nbsp;
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfooter>
                <tr>
                    <td colspan="2">Total : {{ pays|length }}</td>
                </tr>
            </tfooter>
        </table>

{% endblock %}
