
{% extends "FSPaysBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block fspays_body %}
    <div class="panel-heading">
    <div class="panel-title">
        <div class="row">
            <div class="col-md-6">
                <h1>
                Country List
 </h1>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
            <div class="col-md-12">
                <a href="{{ path('fs_pays_addcountry') }}" class="btn btn-primary pull-right"> ADD COUNTRY</a></div>


    </div>
        {% endif %}

        <div class="panel-body">

            <table class="table table-striped" id="dataTables-example">
                <thead>
                <th>#</th>
                <th>Nom</th>
                <th>Population</th>
                <th>Continent</th>
                <th>Capitale</th>
                <th>superficie</th>
                <th>Actions</th>
                </thead>
                <tbody>
                {% for pays in ListPays %}
                    <tr class="{% if loop.index is divisibleby(2) %}odd{% else %}even{% endif %}">
                        <td> <img
                                    src="{{ asset(pays.drapeaux.webPath) }}"
                                    alt="{{ pays.drapeaux.alt }}"
                            /></td>
                        <td col>{{ pays.nom }}</td>
                        <td>{{ pays.population }}</td>
                        <td>{{ pays.continent.nom }}</td>
                        <td>{{ pays.capitale }}</td>
                        <td>{{ pays.superficie }}</td>
                         <td>
                            <a href="{{ path('fs_pays_editcountry',{id : pays.id}) }}"> <p class="fa fa-edit"></p></a>
                             {% if is_granted('ROLE_ADMIN') %}
                            <a data-confirm="Etes-vous certain de vouloir supprimer?" href="{{ path('fs_pays_deletecountry',{id : pays.id}) }}"><p class="glyphicon glyphicon-remove"> </p></a>
                       {% endif %}
                        </td>
                    </tr>

                {% else %}
                    <tr>
                        <td>Pas (encore !) pays enregistrée</td>
                    </tr>
                {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
      </div>
{% endblock %}
