

    <div class="panel-heading">
        <div class="panel-title">
        <div class="row">


        </div>
    </div>
<hr>

        <div class="panel-body">
                <span class="pull-center">
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    {# Génération du label + error + widget pour un champ. #}


    {# Génération manuelle et éclatée : #}
    <div class="form-group">
        {# Génération du label. #}
        {{ form_label(form.nom, "NAME", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.nom) }}
        <div class="col-sm-10">
            {# Génération de l'input. #}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {# Idem pour un autre champ. #}
    <div class="form-group">
        {{ form_label(form.population, "POPULATION", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.population) }}
        <div class="col-sm-10">
            {{ form_widget(form.population, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.continent, "CONTIENET", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.continent) }}
        <div class="col-sm-10">
            {{ form_widget(form.continent, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.drapeaux, "DRAPEAUX", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.drapeaux) }}
        <div class="col-sm-10">
            {{ form_widget(form.drapeaux, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.capitale, "CAPITALE", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.capitale) }}
        <div class="col-sm-10">
            {{ form_widget(form.capitale, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.superficie, "SUPERFICIE", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.superficie) }}
        <div class="col-sm-10">
            {{ form_widget(form.superficie, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
    {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

    {# Génération automatique des champs pas encore écrits.
       Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
       et tous les champs cachés (type « hidden »). #}
    {{ form_rest(form) }}

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}
 </span>

            <div class="clearfix"></div>
        </div>
    </a>
</div>
