
{% extends "FSPaysBundle::layout.html.twig" %}

{% block title %}
    Acceuil - {{ parent() }}
{% endblock %}

{% block fscontinent_body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>

        </div>

    </div>

                    <!-- Start WOWSlider.com BODY section -->
                    <div id="wowslider-container1">
                        <div class="ws_images"><ul>
                                <li><img src="{{ asset('assets/dist/data1/images/inkpptcommapscontinentsinfographics1638.jpg')}}" alt="inkpptcom-maps-continents-infographics-1-638" title="NORTH AMERICA" id="wows1_0"/></li>
                                <li><img src="{{ asset('assets/dist/data1/images/inkpptcommapscontinentsinfographics2638.jpg')}}" alt="inkpptcom-maps-continents-infographics-2-638" title="SOUTH AMERICA" id="wows1_1"/></li>
                                <li><img src="{{ asset('assets/dist/data1/images/inkpptcommapscontinentsinfographics3638.jpg')}}" alt="inkpptcom-maps-continents-infographics-3-638" title="EUROPE" id="wows1_2"/></li>
                                <li><img src="{{ asset('assets/dist/data1/images/inkpptcommapscontinentsinfographics4638.jpg')}}" alt="inkpptcom-maps-continents-infographics-4-638" title="AUSTRALIA" id="wows1_3"/></li>
                                <li><img src="{{ asset('assets/dist/data1/images/inkpptcommapscontinentsinfographics5638.jpg')}}" alt="slider" title="ASIA" id="wows1_4"/></a></li>
                                <li><img src="{{ asset('assets/dist/data1/images/inkpptcommapscontinentsinfographics6638.jpg')}}" alt="AFRICA" title="AFRICA" id="wows1_5"/></li>
                            </ul></div>
                        <div class="ws_bullets"><div>
                                <a href="#" title="NORTH AMERICA"><span><img src="{{ asset('assets/dist/data1/images/inkpptcommapscontinentsinfographics1638.jpg')}}" alt="inkpptcom-maps-continents-infographics-1-638"/>1</span></a>
                                <a href="#" title="SOUTH AMERICA"><span><img src="{{ asset('assets/dist/data1/images/inkpptcommapscontinentsinfographics2638.jpg')}}" alt="inkpptcom-maps-continents-infographics-2-638"/>2</span></a>
                                <a href="#" title="EUROPE"><span><img src="{{ asset('assets/dist/data1/images/inkpptcommapscontinentsinfographics3638.jpg')}}" alt="inkpptcom-maps-continents-infographics-3-638"/>3</span></a>
                                <a href="#" title="AUSTRALIA"><span><img src="{{ asset('assets/dist/data1/images/inkpptcommapscontinentsinfographics4638.jpg')}}" alt="inkpptcom-maps-continents-infographics-4-638"/>4</span></a>
                                <a href="#" title="ASIA"><span><img src="{{ asset('assets/dist/data1/images/inkpptcommapscontinentsinfographics5638.jpg')}}" alt="inkpptcom-maps-continents-infographics-5-638"/>5</span></a>
                                <a href="#" title="AFRICA"><span><img src="{{ asset('assets/dist/data1/images/inkpptcommapscontinentsinfographics6638.jpg')}}" alt="inkpptcom-maps-continents-infographics-6-638"/>6</span></a>
                            </div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com">wowslider.com</a> by WOWSlider.com v8.7</div>
                        <div class="ws_shadow"></div>
                    </div>
                    <script type="text/javascript" src="{{ asset('assets/dist/engine1/wowslider.js')}}"></script>
                    <script type="text/javascript" src="{{ asset('assets/dist/engine1/script.js')}}"></script>
                    <!-- End WOWSlider.com BODY section -->
<div>Register Now and Discover the World
</div>





{% endblock %}
