{% extends '::layout.html.twig' %}

{% block body %}
    {% trans_default_domain 'FOSUserBundle' %}

    <div class="static-content-wrapper">
        <div class="static-content">
            <div class="page-content">
                <div class="container-fluid">

                    <div class="row" style="margin-top: 50px">
                        <div class="col-md-4 col-md-offset-4">

                            {% if error %}
                                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <div class="panel panel-default">
                                <div class="panel-heading"><h2>Login</h2></div>
                                <div class="panel-body">

                                    <form action="{{ path('fos_user_security_check') }}" class="form-horizontal" id="validate-form" method="post">
                                        <input type="hidden" name="_csrf_token" value="" />
                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-user"></i>
                                                </span>
                                                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" placeholder="{{ 'security.login.username'|trans }}" required="required" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <div class="input-group">
                                                <span class="input-group-addon">
                                                    <i class="fa fa-key"></i>
                                                </span>
                                                    <input type="password" id="password" name="_password"  class="form-control" id="exampleInputPassword1" placeholder="{{ 'security.login.password'|trans }}" required="required" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-xs-12">
                                                <a href="#" class="pull-left">Forgot password?</a>
                                                <div class="checkbox-inline icheck pull-right pt0">
                                                    <label for="">
                                                        <div class="icheckbox_minimal-blue" style="position: relative;">
                                                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" style="position: absolute; opacity: 0;" />

                                                            {#<input type="checkbox" style="position: absolute; opacity: 0;">#}
                                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                                                        </div>
                                                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="panel-footer">
                                            <div class="clearfix">
                                                <a href="{{ path('fos_user_registration_register') }}" class="btn btn-default pull-left">Register</a>
                                                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary pull-right" />
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>

                            <div class="text-center">
                                <a href="#" class="btn btn-label btn-social btn-facebook mb20"><i class="fa fa-fw fa-facebook"></i>Connect with Facebook</a>
                                <a href="#" class="btn btn-label btn-social btn-twitter mb20"><i class="fa fa-fw fa-twitter"></i>Connect with Twitter</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}